<div id="footer-top">

    <!-- /// FOOTER-TOP     ///////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="container">
        <div class="row">
            <div class="span12" id="footer-top-widget-area-1">



            </div><!-- end .span12 -->
        </div><!-- end .row -->
    </div><!-- end .container -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div><!-- end #footer-top -->
<div id="footer">

    <!-- /// FOOTER     ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="fullwidth-section parallax" id="contact">

        <div class="fullwidth-section-content">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="headline text-center">
                            <h3>Contact</h3>
                        </div>

                    </div><!-- end .span12 -->
                </div><!-- end .row -->
            </div><!-- end .container -->
            <br><br>
            <div class="container">
                <div class="row">
                    <div class="span3">

                        <h4>Depre noi</h4>
                        <p></p>

                    </div><!-- end .span3 -->
                    <div class="span3">

                        <h4>Contact</h4>
                    <a href="mailto:office@imobiliarlist.ro">Office@imobiliarlist.ro</a>
                    </div><!-- end .span3 -->
                    <div class="span3">

                        <h4>Informatii</h4>
                        <a class="magnificPopup-ajax" href="{{ path('app_terms') }}"><p>Termeni si conditii</p></a>
                    </div><!-- end .span3 -->
                    <div class="span3">

                        <h4>Social media</h4>

                    </div><!-- end .span3 -->
                </div><!-- end .row -->
            </div><!-- end .container -->

        </div><!-- end .fullwidth-section-content -->
    </div><!-- end .fullwidth-section -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div><!-- end #footer -->
<div id="footer-bottom">

    <!-- /// FOOTER-BOTTOM     ////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="container">
        <div class="row">
            <div class="span6">

                <p> Copyright &copy; ImobiliarList 2015. Toate drepturile rezervate.</p>

            </div><!-- end .span6 -->
            <div class="span6">

            </div><!-- end .span6 -->
        </div><!-- end .row -->
    </div><!-- end .container -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div><!-- end #footer-bottom -->