<header id="header" class="stuck">
    <div class="container">
        <div class="row">
            <div class="span3">
                <!-- // Logo // -->

                <a href="{{ path('app_homepage') }}" id="logo">
                    <img class="responsive-img" src="{{ asset('bundles/app/images/logo.png') }}" alt="">
                </a>

            </div><!-- end col-xs-3 -->
            <div class="span9">

                <!-- // Mobile menu trigger // -->

                <a href="#" id="mobile-menu-trigger">
                    <i class="fa fa-bars"></i>
                </a>

                <!-- // Menu // -->

                <ul class="sf-menu fixed" id="menu">
                    <li><a href="#usage">Cum se utilizeaza</a></li>
                    <li><a href="#about">Despre noi</a></li>
                    <li><a href="#clients">Lista Colaboratori</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>

            </div><!-- end col-xs-9 -->
        </div><!-- end .row -->
    </div><!-- end .container -->
</header><!-- end header -->
