<div id="about">

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="headline text-center">
                    <h3>Despre noi</h3>
                </div>

            </div><!-- end .span12 -->
        </div><!-- end .row -->
    </div><!-- end .container -->
    <br><br>
    <div class="container">
        <div class="row">

            <div class="span6">

                <p>
                    <img class="responsive-img" src="{{ asset('bundles/app/images/logo-about.png') }}" alt="">
                </p>

            </div><!-- end .span6 -->
            <div class="span6">
                <p>Obiectivul principal al site-ului il reprezinta gasirea celui mai favorabil anunt 
                    imobiliar de pe piata. ImobiliarList poate fi privit ca un consultant in domeniul preturilor 
                    si ofertelor imobiliare. Serviciile acordate de către ImobiliarList vor fi întotdeauna de cea 
                    mai înaltă calitate şi vor face faţă cerinţelor actualilor şi potenţialilor nostri utilizatori.</p>
            </div><!-- end .span6 -->

        </div><!-- end .row -->
    </div><!-- end .container -->
</div><!-- end #usage -->