<div id="clients">

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="headline text-center">
                    <h3>Lista clientilor/ Lista colaboratori / colaboratori nostri</h3>
                </div>

            </div><!-- end .span12 -->
        </div><!-- end .row -->
    </div><!-- end .container -->
    <br><br>
    <div class="container">
        <div class="row">

            <div class="span12">

                <div class="clients-slider">
                    <div class="slide"><img src="http://placehold.it/300x150&text=FooBar1"></div>
                    {#<div class="slide"><img src="http://placehold.it/300x150&text=FooBar2"></div>
                    <div class="slide"><img src="http://placehold.it/300x150&text=FooBar3"></div>
                    <div class="slide"><img src="http://placehold.it/300x150&text=FooBar4"></div>
                    <div class="slide"><img src="http://placehold.it/300x150&text=FooBar5"></div>
                    <div class="slide"><img src="http://placehold.it/300x150&text=FooBar6"></div>
                    <div class="slide"><img src="http://placehold.it/300x150&text=FooBar7"></div>
                    <div class="slide"><img src="http://placehold.it/300x150&text=FooBar8"></div>
                    <div class="slide"><img src="http://placehold.it/300x150&text=FooBar9"></div>
                    <div class="slide"><img src="http://placehold.it/300x150&text=FooBar10"></div>#}
                </div>

            </div><!-- end .span12 -->

        </div><!-- end .row -->
    </div><!-- end .container -->
</div><!-- end #usage -->