<div class="fullwidth-section parallax" id="client">

    <div class="fullwidth-section-content">

        <div class="container">
            <div class="row">
                <div class="span9">

                    <h4>Cum imi pot adauga anunturile pe ImobiliarList ?</h4>
                    <p>Daca sunteti o firma de imobiliare si doriti ca anunturile dumneavoastra sa fie procesate de motorul nostru de cautare, nu ezitati sa ne contactati !</p>

                </div><!-- end .span9 -->
                <div class="span3">

                    <p class="last"><a class="btn btn-orange" href="mailto:office@imobiliarlist.ro">Contact us</a></p>

                </div><!-- end .span3 -->

            </div><!-- end .row -->
        </div><!-- end .container -->

    </div><!-- end .fullwidth-section-content -->

</div><!-- end .fullwidth-section -->