//TODO: luat din baza de date numar anunturi, bullshit, bullshit :)

<div class="fullwidth-section parallax" id="stats">

    <div class="fullwidth-section-content">

        <div class="container">
            <div class="row">
                <div class="span3">

                    <div class="milestone">

                        <i class="ifc-origami"></i>

                        <div class="milestone-content">
                            <span class="milestone-value" data-stop="257" data-speed="2000"></span>
                            <div class="milestone-description">Clients</div>
                        </div>

                    </div><!-- end .milestone -->

                </div><!-- end .span3 -->
                <div class="span3">

                    <div class="milestone">

                        <i class="ifc-edit_user"></i>

                        <div class="milestone-content">
                            <span class="milestone-value" data-stop="57" data-speed="2000"></span>
                            <div class="milestone-description">Team Members</div>
                        </div>

                    </div><!-- end .milestone -->

                </div><!-- end .span3 -->
                <div class="span3">

                    <div class="milestone">

                        <i class="ifc-settings"></i>

                        <div class="milestone-content">
                            <span class="milestone-value" data-stop="1197" data-speed="2000"></span>
                            <div class="milestone-description">Projects</div>
                        </div>

                    </div><!-- end .milestone -->

                </div><!-- end .span3 -->
                <div class="span3">

                    <div class="milestone">

                        <i class="ifc-filled_box"></i>

                        <div class="milestone-content">
                            <span class="milestone-value" data-stop="945" data-speed="2000"></span>
                            <div class="milestone-description">Products</div>
                        </div>

                    </div><!-- end .milestone -->

                </div><!-- end .span3 -->
            </div><!-- end .row -->
        </div><!-- end .container -->

    </div><!-- end .fullwidth-section-content -->

</div><!-- end .fullwidth-section -->