<div class="white-popup-block market-detail" >

	<p class="text-center"><i class="fa fa-book fa-3x"></i></p>

	<h4 class="text-center">Education</h4>
	<br>

	<p>The private education sector is on the threshold of major changes. Whether this has to do with their resource planning, customer management,
	e-learning systems or integration with back-end systems to monitor progress	or ensure compliance, there are lots of opportunities to make
	a difference and distinguish from the competition. Moreover, all Sysgenic employees are academically skilled professionals with a computers
	sciences background. </p>


</div>