<div id="usage">

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="headline text-center">
                    <h3>Bine ati venit !</h3>
                </div>

            </div><!-- end .span12 -->
        </div><!-- end .row -->
    </div><!-- end .container -->

    <div class="container">
        <div class="row">
            <div class="span12">

                <p class="first">ImobiliarList vine in sprijinul celor care doresc sa achizitioneze 
                    sau sa inchirieze unul sau mai multe imobile. ImobiliarList este un motor de cautare al 
                    anunturilor imobiliare online.<br>Serviciile oferite utilizatorului sunt gratuite.</p> 
            </div><!-- end .span12 -->
            <div class="span4">

                <img class="usage-image" src="{{ asset('bundles/app/images/search.jpg') }}" alt="Cauta">
                <h3>Cauta</h3>
                <p>Functionalitatea de baza este usor de utilizat. Completand campurile dorite cu informatiile 
                    cautate, vor fi furnizate anunturile care corespund criteriilor selectionate.</p>
            </div><!-- end .span4 -->
            <div class="span4">

                <img class="usage-image" src="{{ asset('bundles/app/images/list.jpg') }}" alt="Selecteaza">
                <h3>Selecteaza</h3>
                <p>Dupa cautarea anunturilor dorite, va fi afisata o lista prin care puteti naviga usor pentru a gasi cel mai potrivit anunt.</p>

            </div><!-- end .span4 -->
            <div class="span4">

                <img class="usage-image" src="{{ asset('bundles/app/images/element.jpg') }}" alt="Informeaza-te">
                <h3>Informeaza-te</h3>
                <p>Dupa gasirea anuntului, pentru a-l viziona, apasati butonul "Vezi oferta", unde veti fi redirectionat pe pagina furnizorului pentru mai multe detalii.</p>

            </div><!-- end .span4 -->
        </div><!-- end .row -->
    </div><!-- end .container -->
</div><!-- end #usage -->